<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h5 class="modal-title">{{modalTitle | translate}}</h5>
    <button (click)="cancel()" [disabled]="loading" type="button" class="close" data-dismiss="modal"
      aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0 mt-2 pb-0">
    <div class="row" *ngIf="lastError">
      <div class="col-12">
        <div class="alert alert-warning" role="alert">
          <span>{{ 'Requests.Edit.CompletedWithErrors.Title' | translate }}</span><br>
          <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
          <small *ngIf="lastError.status == null">{{lastError.message}}</small>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="description">
      <div class="col-12 mb-3">
        <div class="text-justify">
          {{description | translate}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div *ngIf="items && items.length > 1" [translate]="'Requests.Edit.ActionMessage.Many'"
          [translateParams]="items"></div>
        <div *ngIf="items && items.length === 1" [translate]="'Requests.Edit.ActionMessage.One'"></div>
        <div class="font-weight-bold text-danger" *ngIf="items && items.length <= 0"
          [translate]="'Requests.Edit.ActionMessage.None'"></div>
      </div>
    </div>
    <div class="mt-4">
      <app-compose-message [showButtons]="false" [showHeader]="false" [model]="message" [showAttach]="false"></app-compose-message>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="progress" #progress style="visibility: hidden">
          <div class="progress-bar bg-indigo" role="progressbar" style="width: 1%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer justify-content-end">
    <button [disabled]="okButtonDisabled || loading || (items && items.length === 0)" (click)="ok()" type="button"
      [ngClass]="okButtonClass">
      {{okButtonText | translate}}
    </button>
    <button [disabled]="cancelButtonDisabled || loading" (click)="cancel()" type="button" [ngClass]="cancelButtonClass"
      data-dismiss="modal">
      {{cancelButtonText | translate}}
    </button>
  </div>
</div>